<section>
  <.link navigate={~p"/admin/courses"} class="text-center font-bold font-tajawal text-2xl">
    Courses
  </.link>

  <.link navigate={~p"/admin/users"} class="text-center font-bold font-tajawal text-2xl">
    Users
  </.link>
</section>
